{% extends "base.html" %}

{% block title %}فرم تایم‌شیت{% endblock %}

{% block content %}
<div class="container my-4">
  <div class="card">
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex gap-2">
          <button class="btn btn-primary" type="submit">ثبت</button>
          <a class="btn btn-outline-secondary" href="{% url 'reservation:timesheet-list' %}">انصراف</a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}


